fastapi
uvicorn
python-dotenv
langfuse
llama-index
llama-index-llms-google-genai
llama-index-embeddings-google
llama-index-llms-openrouter
llama-index-llms-openai
groq
llama-index-vector-stores-postgres
llama-index-embeddings-huggingface
llama-index-callbacks-langfuse
psycopg2-binary
pgvector
pydantic
beautifulsoup4
html2text
pydantic-settings
unstructured
reportlab
alembic
redis
async-timeout
structlog
python-json-logger
prometheus_client
uv
python-multipart